@import "tailwindcss";

@font-face {
  font-family: "FuturaPTMedium";
  src: url("/public/fonts/futura-pt/FuturaCyrillicMedium.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --btn-gradient: linear-gradient(
    135deg,
    #5a4f84 10%,
    #9189cb 50%,
    #5a4f84 90%
  );
  --rose-500: #f274ac;
  --rose-800: #ff2962;

  --primary-50: #fbf4f9;

  --accent-400: #a4a1d8;
  --accent-700: #6e5fa3;
  --accent-800: #5a4f84;

  --border-button: #9189cb;

  --cube-color: rgba(251, 244, 249, 0.4);
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: clamp(20px, 3vw + 1em, 48px);
  letter-spacing: 0.8vw;
  margin-bottom: 20px;
  font-weight: 500;
}

h3 {
  margin: 0 10px;
  font-size: clamp(14px, 3vw, 20px);
  color: #242424;
  letter-spacing: 0.2vw;
}

h4 {
  font-size: 14px;
}

p {
  font-size: clamp(16px, 2vw, 24px);
  letter-spacing: 0.02em;
  overflow-wrap: break-word;
  word-break: break-word;
  font-weight: 200;
}

span {
  font-size: 0.8rem;
}
